body {
    font-size: 15px;
}

.uk-form-label {
    font-size: 15px;
}

.uk-card {
    margin-top: 30px;
}

.etape, em {
    color:#a0a0a0 !important;
}

a {
    color:#302780;
}

a:hover {
    color:#f6d214;
}

blockquote {
    margin-bottom: -20px;
    font-size: 16px;
    color: #a0a0a0;
}

.uk-form-label {
    font-weight: bold;
}	

input, textarea {
    border: solid 1px #ccc;
}

.spacing-top {
    margin-top: 20px !important;
}

.spacing-bottom {
    margin-bottom: 20px !important;
}

.spacing-left {
    margin-left: 50px !important;
}

.spacing-right {
    margin-right: 50px !important;
}

.qr {
    width: 150px;
    height: auto;
    border: solid 1px #ccc;
}

.logo {
    margin-bottom: -30px;
    width: 300px;
    height: auto;
    border: none;
}

.container-info, .container-info-important, .container-info-not-available {
    padding: 20px 20px 0px 20px;
    border: solid 1px #ccc;
    background: #F5f6f7;
}

.container-info-important {
    background: #ecebff;
}

.container-info-not-available {
    background: #ffebeb;
}

.uk-button-small {
    font-size: 12px;
}

.button-navigation, .button-link {
    margin-top: 30px;
}

.button-navigation, .button-link, .button-upload {
    color: #fff;
    background: #1d5a88 ;
    background: -moz-linear-gradient(top, #1d5a88  20%, #10314a 100%) !important;
    background: -webkit-linear-gradient(top, #1d5a88  20%, #10314a 100%) !important;
    background: linear-gradient(to bottom, #1d5a88 20%, #10314a 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d5a88', endColorstr='#10314a',GradientType=0 );
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.button-navigation:hover, .button-link:hover, .button-upload:hover {
    color: #fff;
    background: #135b2b ;
    background: -moz-linear-gradient(top, #10314a  20%, #1d5a88 100%) !important;
    background: -webkit-linear-gradient(top, #10314a  20%, #1d5a88) !important;
    background: linear-gradient(to bottom, #10314a 20%, #1d5a88 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10314a', endColorstr='#1d5a88',GradientType=0 );
}

.button-submit {
    color: #fff;
    background: #1d8841 ;
    background: -moz-linear-gradient(top, #1d8841  20%, #135b2b 100%) !important;
    background: -webkit-linear-gradient(top, #1d8841  20%, #135b2b 100%) !important;
    background: linear-gradient(to bottom, #1d8841 20%, #135b2b 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d8841', endColorstr='#135b2b',GradientType=0 );
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.button-submit:hover {
    color: #fff;
    background: #135b2b ;
    background: -moz-linear-gradient(top, #135b2b  20%, #1d8841 100%) !important;
    background: -webkit-linear-gradient(top, #135b2b  20%, #1d8841) !important;
    background: linear-gradient(to bottom, #135b2b 20%, #1d8841 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#135b2b', endColorstr='#1d8841',GradientType=0 );
}